{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
{% endblock css %}

{% block extra_css %}
<style>
    body {
        background: url(../../../static/images/password_reset.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 </style>
{% endblock extra_css %} 

{% block content %}
<div class="container h3-password-reset">
    <h3>Forgot your password</h3>
    <small>No problem, just enter your email address below, and we'll email instructions for setting a new one.</small>
</div>
<div class="container-fluid div-password-reset">
    <form class="form-reset-password" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Click the button and we will send you password reset instructions </button>
            <button onclick="location.href='{% url 'home' %}'" class="btn btn-warning" type="button">Cancel</button>  
        </div> 
    </form>
</div>
{% endblock content %}