{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_done.css' %}">
{% endblock css %}

{% block extra_css %}
<style>
    body {
        background: url(../../../static/images/password_reset_done.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 </style>
{% endblock extra_css %} 

{% block content %}
<div class="container h3-password-reset-done">
    <h3>{% trans "Email has been sent, check your inbox." %}</h3> 
</div>
<div class="container div-password-reset-done">
    <hr>
    <small>{% trans "We have emailed you the instructions for re-setting your password, you should receive the email shortly!" %}</small>
    <hr>
    <small>{% trans "If you have not received the email in a few minutes, check you junk/spam folder." %}</small>
    <hr>
    <small>{% trans "or" %}</small>
    <hr>
    <small>{% trans "click" %} <a href="/accounts/password_reset/">{% trans "here" %}</a> {% trans "to resend the link again." %}</small>
    <hr>
</div>
{% endblock content %}


    