.change-password-h4 {
    margin-top: 100px;;
    width: fit-content;
    text-align: center;
    background-color:lightgray;
    border: 1px solid #270644;
}

.div-change-password {
    padding-top: 25px;
    padding-bottom: 100px;
}

.form-pass-change {
    background-color:slategrey;
    width: fit-content;
    border: 1px solid #270644;
    opacity: 85%;margin: auto; 
    padding: 10px;
}

label {
    float: left;
    font-weight: bold;
    }
.register-error {
    color: red;
}

