@media only print {
    #card-width {
      overflow: visible;
      margin: 1mm;  
    }
 }

@media only print {
    nav {
        display: none !important;
    }
 }

@media only print {
    .base-footer {
        display: none !important;
    }
 }

.div-detail {
    margin-top: 25px;
    margin-bottom: 100px;
    text-align: center;
    width: fit-content;
    background-color: lightgray ;
}

#card-width {
    width: 500px;
}

.scrollable-menu {
    height: auto;
    max-height: 1000px;
    overflow-y:scroll;
}

.list-group-item {
    text-align: left;
}

#btn-update { 
    color: black; 
    font-weight: bold;
    text-decoration: none
}

#btn-delete { 
    color: black; 
    font-weight: bold;
    text-decoration: none
}

#btn-print {
    color: black; 
    font-weight: bold;
}

