.h4-language {
    margin-top: 25px;
    width: fit-content;
    text-align: center;
    background-color:lightgray;
    border: 1px solid #270644;
    opacity: 75%;
}

.form-language {
    width: fit-content;    
}

.button-language {
    margin-top: 10px;
    height: 40px;
}

select {
    margin-top: 10px;
}
 