.list-h4 {
    margin-top: 75px;
    max-width: 1000px;
    text-align: center;
    background-color:lightgray;
    border: 1px solid #270644;
}

.div-list {
    padding-top: 25px;
}

.form-list {
    padding: 20px;
    background-color:lightgray;
    text-align: left;
    max-width: 1000px;
    border: 1px solid #270644;
    opacity: 75%;
    margin: auto;
}

.pagination {
    padding-top: 15px;
    justify-content: center;
    font-weight: 500;
    color: cyan;
    
  }


