.h3-login {
    margin-top: 175px;
    width: fit-content;
    text-align: center;
    color: #96351e;
}

.fa-login {
    margin-top: 25px;;
    width: fit-content;
    text-align: center;
}

.div-login {
    margin-top: 50px;
    width: fit-content;
    text-align: center; 
    width: fit-content;   
}

.fa-users {
    color: #96351e;
  }

.div-error {
    width: fit-content;
    text-align: center; 
    font-weight: 700; 
    margin: auto; 
}

.alert-danger {
    background-color: lightcoral;
    color: red;
}

#login-anchor {
    font-weight: 600;
}

