.h3-password-reset {
    margin-top: 25px;;
    width: fit-content;
    text-align: center;
    background-color:lightgray;
    border: 1px solid #270644;
}

.div-password-reset {
    padding-top: 25px;
    padding-bottom: 100px;
}

.form-reset-password {
    background-color:slategrey;
    width: fit-content;
    border: 1px solid #270644;
    opacity: 85%;
    padding: 10px;
}

label {
    float: left;
    font-weight: bold;
}

.register-error {
    color: red;
}

