.h3-password-reset-done {
    margin-top: 25px;;
    width: fit-content;
    text-align: center;
    background-color:lightgray;
    border: 1px solid #270644;
}

.div-password-reset-done {
    margin-top: 50px;;
    width: fit-content;
    text-align: center;
    background-color:lightgray;
    border: 1px solid #270644;
}