{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/delete_user.css' %}">
{% endblock css %}

{% block extra_css %}
<style>
    body {
        background: url(../../../static/images/delete_user.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 </style>
{% endblock extra_css %} 

{% block content %}
<div class="container delete_user-h4">
    <h4>Are you sure you want to delete the user account named <strong> {{ user.username }}? </strong></h4>
    <h3>THIS CANNOT BE UNDONE</h3>
    <h6>By clicking the Confirm Account Delete buttton, you will be deleting all your personal information</h6>
    <small>Any recipes you created will NOT be deleted</small>
    <small>If you want them deleted, then you need to email an admin by clicking the link below</small>
    <h6><small><a class="text-dark" href="mailto:tonydav43@hotmail.co.uk?subject=Delete Recipes">Email the site admin</a></small></h6>
</div>
<div class="container-fluid div-delete_user">
    {% if user.is_authenticated %}
    <form class="form-confirm-delete" method="POST">
        {% csrf_token %}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-danger">Confirm Account Delete</button>
            <button onclick="location.href='{% url 'home' %}'" class="btn btn-warning" type="button">Cancel</button> 
        </div> 
    </form>
</div>
{% endif %}
{% endblock content %}
