{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/change_password.css' %}">
{% endblock css %}

{% block extra_css %}
<style>
    body {
        background: url(../../../static/images/change_password_background.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 </style>
{% endblock extra_css %} 

{% block content %}
<div class="container change-password-h4">
    <h4>Here is your password reset form {{ user.first_name}}.</h4>
</div>
<div class="container-fluid div-change-password">
    <form class="form-pass-change" method="POST">
        {% csrf_token %}
        {% for field in change_password_form %}
            <p>
                <small>{{ field.label_tag }}</small>
                {{ field }}

                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors  %}
                    <h4 class="register-error">{{ error }}</h4>
                {% endfor %}
            </p>
        {% endfor %}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Click to change your password</button>
            <button onclick="location.href='{% url 'account:profile' %}'" class="btn btn-warning" type="button">Cancel</button>   
        </div> 
    </form>
</div>
{% endblock content %}

