{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/food_group_list.css' %}">
{% endblock css %}

{% block extra_css %}
<style>
    body {
        background: url(../../../static/images/sliced_beef.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 </style>
{% endblock extra_css %} 

{% block content %}
<div class="container food-group-h4">
    {% if page_obj.paginator.count == 0 %}
    <h4>{% trans "There are no recipes in the food group beef." %}</h4>
    {% elif page_obj.paginator.count == 1 %}
    <h4>{% trans "There is" %} {{ page_obj.paginator.count }} {% trans "recipe in the food group beef." %}</h4>
    {% else %}
    <h4>{% trans "There are" %} {{ page_obj.paginator.count }} {% trans "recipes in the food group beef." %}</h4>
    {% endif %}
</div>

<div class="container div-list">
    <form class="form-food-group">
        {% for recipe in beef_recipe_list %}
        {% if recipe.recipe_food_group == "Beef" %}
        <h6>{% trans "Recipe for" %} <strong>{{ recipe.recipe_name }}</strong> {% trans "which is in the food group" %} <strong>{{ recipe.recipe_food_group }}</strong>, {% trans "click" %} <a href="{% url 'recipes_app:detail' recipe.slug %}"><em>{% trans "here" %} </em></a>{% trans "to view this recipe." %}</h6>
        <hr/>
        {% endif %}
        {% endfor %} 
    </form>      
</div>

<!--Pagination-->

<div class="pagination div-paginate">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% trans "first" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}