{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock css %}

{% block extra_css %}
<style>
    body {
        background: url(../../../static/images/pizza_slice.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
 {% endblock extra_css %}

{% block content %}
<div class="container list-h4">
    {% if page_obj.paginator.count == 0 %}
    <h4>There are no recipes currently on this website.</h4>
    {% elif page_obj.paginator.count == 1 %}
    <h4>There is {{ page_obj.paginator.count }} recipe on this website.</h4>
    {% else %}
    <h4>There are {{ page_obj.paginator.count }} recipes on this website in total.</h4>
    {% endif %}
</div>
<div class="container div-list">
    <form class="form-list">
        {% for recipe in recipe_list %}
        <h6>Recipe for <strong>{{ recipe.recipe_name }}</strong> which is the food group <strong>{{ recipe.recipe_food_group }}</strong>, click <a href="{% url 'recipes_app:detail' recipe.slug %}"><em>here </em></a>to view this recipe.</h6>
        <hr/>  
        {% endfor %}                                                                                                                                        
    </form>                                                                                         
</div>

<!--Pagination-->
<div class="pagination div-paginate">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}