{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/delete.css' %}">
{% endblock css %}

{% block extra_css %}
<style>
    body {
        background: url(../../../static/images/confirm_delete.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 </style>
{% endblock extra_css %} 

{% block content %}
<div class="container div-delete">
    <h5>Are you sure you want to delete the recipe named <strong> {{ recipe.recipe_name }} </strong>, this cannot be undone?</h5>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm</button>
        <button onclick="location.href='{% url 'recipes_app:detail' recipe.slug %}'" class="btn btn-warning" type="button">Cancel</button>    
    </form>
</div>
{% endblock content %}