{% extends 'base.html' %}

{% load i18n %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/create.css' %}">
{% endblock css %}

{% block extra_css %}
<style>
    body {
        background: url(../../../static/images/update_recipe.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
 </style>
 {% endblock extra_css %} 

{% block content %}
<div class="container create-h4">
    <h4>{% trans "Please edit the form to update your recipe." %}</h4>
</div>
<div class="container-fluid div-create">
    <form class="form-recipe-create" enctype='multipart/form-data' method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">{% trans "Update Recipe" %}</button>
        <button onclick="location.href='{% url 'recipes_app:detail' recipe.slug %}'" class="btn btn-warning" type="button">{% trans "Cancel" %}</button>    
    </div>
    </form>
</div>
{% endblock content %}


